@charset "utf-8";


#main {
    overflow: hidden;
    padding-top: 100px;
}

#main .startorder {
    position :fixed;
    bottom : 30px;
    right: 30px; 
    z-index :99999

}

#main .startorder a {
    display : block;
    padding : 18px 24px;
    font-size : 19px;
    background : #00a862;
    color : white;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 0 6px rgb(0,0,0,0.24), 0 8px 12px rgb(0,0,0,0.14);

}

#main .welcome-msg {
    position: fixed;
    width: 40%;
    left: 0;
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 4px 4px rgba(0, 0, 0, 0.12);
}

#main .welcome-msg .text {
    padding: 0 50px;
    font-size: 28px;
    font-weight: bold;
    padding-top: 40vh;
    /* vh 단위 = 현재 웹 페이지 높이 대비 %
     vw 단위 = 현재 웹 페이지 넓이 대비 % */
    letter-spacing: -0.01em;
}

#main #container {
    margin-left: 40%;
    width: 60%;
    padding: 20px 0;
}

#container .rewards {
    padding: 0 40px;
}

#container .rewards h2 {
    font-size: 14px;
    margin-bottom: 20px;
}

#container .rewards ul {
    overflow: hidden;
}

#container .rewards li {
    float: left;
    width: 31.6666%;
}

#container .rewards li:nth-child(2) {
    margin: 0 2.5%;
}

#container .rewards li img {
    border-radius: 15px;
}


#container .rewards li p {
    font-size: 19px;
    padding-top: 24px;
    letter-spacing: 0.5px;
}

#container .rewards .btn {
    padding: 35px 0 30px;
    ;
}

#container .rewards .btn a {
    font-size: 16px;
    padding: 5px 15px 7px;
    border: 1px solid black;
    border-radius: 50px;
    font-weight: bold;
    transition: all 0.3s;
    margin: 0 10px 0 0;
    display: inline-block
}

#container .rewards .btn a:first-child {
    background-color: black;
    color: white;
}

#container .rewards .btn a:first-child:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#container .rewards .btn a:last-child:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

#container .order {
    background-color: #f9f9f9;
    padding: 40px 0 80px;
}

#container .order>div {
    border-radius: 15px;
    background-color: #fff;
    width: 500px;
    margin: 0 auto 20px;
    box-shadow: 0 0 0.5px 0 rgb(0, 0, 0, 0.14), 0 1px 1px 0 rgb(0, 0, 0, 0.24);
    overflow: hidden;
}

#container .order .order1 {
    padding: 20px;
}

#container .order .order1>div:first-child {
    position: relative;
    padding-bottom: 16px;
}

#container .order .order1 .answer {
    width: 80%;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.5em;
}

#container .order .order1 .beta {
    position: absolute;
    top: 5px;
    right: 0;
    color: #dd92c0;
    letter-spacing: 0.5em;
    font-size: 13px;
    font-weight: bold;
}

#container .order .order1>div:nth-child(2) {
    padding: 16px 0;
    font-size: 16px;
    border-top: 1px solid rgba(153, 153, 153, 0.2)
}

#container .order .order1>div:nth-child(3) a {
    display: block;
    border-radius: 15px;
    position: relative;
    font-size: 19px;
    padding: 30px 16px;
    line-height: 1.5em;
    overflow: hidden;
}

#container .order .order1>div:nth-child(3) a:first-child {
    margin-bottom: 15px;
    background:#d4e9e2  url(../img/iced_drink.webp) no-repeat 95% 40px; 
    background-size: 70px auto; 
}
#container .order .order1>div:nth-child(3) a:last-child {
    margin-bottom: 15px;
    background: #d4e9e2 url(../img/hot_drink.webp) no-repeat 103% -40px;
}

#container .order .order1>div:nth-child(3) a strong {
    display: block;
}

#container .order .order1>div:nth-child(3) a span {
    display: block;
    ;
}

/* #container .order .order1>div:nth-child(3) a img {
    position: absolute;
    bottom: -10px;
}

#container .order .order1>div:nth-child(3) a:first-child>img {
    width: 63px;
    right: 20px;
}

#container .order .order1>div:nth-child(3) a:last-child>img {
    width: 85px;
    right: -10px;
} */




#container .order .buy>div {
    padding: 24px;
}

#container .order .buy>div h3 {
    font-size: 19px;
}

#container .order .buy>div p {
    font-size: 16px;
    padding: 16px 0;
}

#container .order .buy>div a {
    display: inline-block;
    font-size: 16px;
    color: #00754a;
    border: 1px solid #00754a;
    padding: 6px 16px 8px;
    border-radius: 50px;
    transition: 0.3s;
    font-weight: bold;
}

#container .order .buy>div a:hover {
    background-color: rgba(235, 244, 241);
}

#container .company-info {
    padding: 48px 0 32px;
    background-color: white;
}

#container  .company-info>.depth1 {
    margin: 0 40px;
    border-bottom : 1px solid ;
}


#container  .company-info .depth1>li {
margin-bottom : 20px;
}

#container  .company-info .depth1>li>a {
    font-size: 20px;
    padding: 20px 0;
    display: block;
    position :relative;
}

#container  .company-info .depth1>li>a::after {
    content : '\f078';
    font-family : 'Font Awesome 5 Free';
    font-weight: 900;
    position : absolute;
    top: 50% ;
    right : 15.5px;
    margin-top : -9.5px;
    transition:all 0.5s;
}

#container  .company-info .depth1>li.on>a::after{
    content:'\f077'
}

#container  .company-info .depth1>li>a:hover::after {
    transform : rotate(-180deg);
}

#container  .company-info .depth1>li>a::before {
    content : '';
    position : absolute;
    top: 50% ;
    right : 0;
    margin-top : -25px;
    width : 50px;
    height : 50px;
    border-radius: 50px ;
    transition : all 1s;
} 


/* before / after 속성에는 content: ''; 필수 입력 */
#container  .company-info .depth1>li>a:hover::before{
    background-color: #ddd;
}

#container  .company-info .depth1 .depth2{
    display : none;
}
/* #container  .company-info .depth1>li.on .depth2{
    display : block;
}  */


#container  .company-info .depth1 .depth2 > li{ 
    margin-bottom : 8px;
    
}

#container  .company-info .depth1 .depth2>li>a {
    display : inline-block;
    padding : 10px 0 ;
    font-size : 16px;
    color : rgba(0,0,0,0.58)
}

