@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}
.blind { position : absolute;
    width : 1px; height :1px;
    overflow : hidden;
text-indent : -9999px;}
/* 글자 블라인드 처리 값 */

a {
    text-decoration: none;
    color: inherit;
}

.cf::after {
    content: '';
    display: block;
    clear: both;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 0 40px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
}

/* position : fixed / absolute 속성이 block 요소에 들어 가게 되면 block 요소의 특징인 width 100% 속성값이 사라진다. 그러므로 입력을 따로 해 줘야 한다.  */

#header h1 {
    float: left;
    width: 50px;
    margin-right: 40px;
    margin-top: 20px;
}

#header #nav {
    float: right;
    width: calc(100% - 90px);
    position: relative;
}

#header #nav .depth1>li {
    display: inline-block;
}

#header #nav .depth1>li>a {
    display: inline-block;
    padding: 40px 0;
    font-size: 14px;
    font-weight: bold;
}

#header #nav .depth1>li+li>a {
    padding-left: 24px;
}

#header #nav .membership {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -17px;
}

#header #nav .membership a {
    font-size: 14px;
    padding: 6px 16px 8px;
    border: 1px solid black;
    border-radius: 50px;
    font-weight: bold;
}

#header #nav .membership a:first-child {
    margin-right: 40px;
    border: none;
    padding: 7px 0;
}

#header #nav .membership a:first-child:hover {
    color: #00754a
}

#header #nav .membership a:nth-child(2) {
    margin-right: 16px;
    transition: all 0.3s;
}

#header #nav .membership a:nth-child(2):hover {
    background-color: rgba(0, 0, 0, 0.06);
}

#header #nav .membership a:last-child {
    background-color: black;
    color: white;
    transition: all 0.3s;
}

#header #nav .membership a:last-child:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#main {
    overflow: hidden;
    padding-top: 100px;
}

#main .startorder {
    position :fixed;
    bottom : 30px;
    right: 30px; 
    z-index :99999

}

#main .startorder a {
    display : block;
    padding : 18px 24px;
    font-size : 19px;
    background : #00a862;
    color : white;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 0 6px rgb(0,0,0,0.24), 0 8px 12px rgb(0,0,0,0.14);

}

#main .welcome-msg {
    position: fixed;
    width: 40%;
    left: 0;
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 4px 4px rgba(0, 0, 0, 0.12);
}

#main .welcome-msg .text {
    padding: 0 50px;
    font-size: 28px;
    font-weight: bold;
    padding-top: 40vh;
    /* vh 단위 = 현재 웹 페이지 높이 대비 %
     vw 단위 = 현재 웹 페이지 넓이 대비 % */
    letter-spacing: -0.01em;
}

#main #container {
    margin-left: 40%;
    width: 60%;
    padding: 20px 0;
}

#container .rewards {
    padding: 0 40px;
}

#container .rewards h2 {
    font-size: 14px;
    margin-bottom: 20px;
}

#container .rewards ul {
    overflow: hidden;
}

#container .rewards li {
    float: left;
    width: 31.6666%;
}

#container .rewards li:nth-child(2) {
    margin: 0 2.5%;
}

#container .rewards li img {
    border-radius: 15px;
}


#container .rewards li p {
    font-size: 19px;
    padding-top: 24px;
    letter-spacing: 0.5px;
}

#container .rewards .btn {
    padding: 35px 0 30px;
    ;
}

#container .rewards .btn a {
    font-size: 16px;
    padding: 5px 15px 7px;
    border: 1px solid black;
    border-radius: 50px;
    font-weight: bold;
    transition: all 0.3s;
    margin: 0 10px 0 0;
    display: inline-block
}

#container .rewards .btn a:first-child {
    background-color: black;
    color: white;

}

#container .rewards .btn a:first-child:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#container .rewards .btn a:last-child:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

#container .order {
    background-color: #f9f9f9;
    padding: 40px 0 80px;
}

#container .order>div {
    border-radius: 15px;
    background-color: #fff;
    width: 500px;
    margin: 0 auto 20px;
    box-shadow: 0 0 0.5px 0 rgb(0, 0, 0, 0.14), 0 1px 1px 0 rgb(0, 0, 0, 0.24);
    overflow: hidden;
}

#container .order .order1 {
    padding: 20px;
}

#container .order .order1>div:first-child {
    position: relative;
    padding-bottom: 16px;
}

#container .order .order1 .answer {
    width: 80%;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.5em;
}

#container .order .order1 .beta {
    position: absolute;
    top: 5px;
    right: 0;
    color: #dd92c0;
    letter-spacing: 0.5em;
    font-size: 13px;
    font-weight: bold;
}

#container .order .order1>div:nth-child(2) {
    padding: 16px 0;
    font-size: 16px;
    border-top: 1px solid rgba(153, 153, 153, 0.2)
}

#container .order .order1>div:nth-child(3) a {
    display: block;
    background-color: #d4e9e2;
    border-radius: 15px;
    position: relative;
    font-size: 19px;
    padding: 30px 16px;
    line-height: 1.5em;
    overflow: hidden;
}

#container .order .order1>div:nth-child(3) a:first-child {
    margin-bottom: 15px;
}


#container .order .order1>div:nth-child(3) a strong {
    display: block;
}

#container .order .order1>div:nth-child(3) a span {
    display: block;
    ;
}

#container .order .order1>div:nth-child(3) a img {
    position: absolute;
    bottom: -10px;
}

#container .order .order1>div:nth-child(3) a:first-child>img {
    width: 63px;
    right: 20px;
}

#container .order .order1>div:nth-child(3) a:last-child>img {
    width: 85px;
    right: -10px;
}

#container .order .buy>div {
    padding: 24px;
}

#container .order .buy>div h3 {
    font-size: 19px;
}

#container .order .buy>div p {
    font-size: 16px;
    padding: 16px 0;
}

#container .order .buy>div a {
    display: inline-block;
    font-size: 16px;
    color: #00754a;
    border: 1px solid #00754a;
    padding: 6px 16px 8px;
    border-radius: 50px;
    transition: 0.3s;
    font-weight: bold;
}

#container .order .buy>div a:hover {
    background-color: rgba(235, 244, 241);
}

#container .company-info {
    padding: 48px 0 32px;
    background-color: white;
}

#container  .company-info>.depth1 {
    margin: 0 40px;
    border-bottom : 1px solid ;
}


#container  .company-info .depth1>li {
margin-bottom : 20px;
}

#container  .company-info .depth1>li>a {
    font-size: 20px;
    padding: 20px 0;
    display: block;
    position :relative;
}

#container  .company-info .depth1>li>a::after {
    content : '\f078';
    font-family : 'Font Awesome 5 Free';
    font-weight: 900;
    position : absolute;
    top: 50% ;
    right : 15.5px;
    margin-top : -9.5px;
    transition:all 0.5s;
}

#container  .company-info .depth1>li>a:hover::after {
    transform : rotate(-180deg);
}

#container  .company-info .depth1>li>a::before {
    content : '';
    position : absolute;
    top: 50% ;
    right : 0;
    margin-top : -25px;
    width : 50px;
    height : 50px;
    border-radius: 50px ;
    transition : all 0.3s;
} 
/* before / after 속성에는 content: ''; 필수 입력 */
#container  .company-info .depth1>li>a:hover::before{
    background-color: #ddd;
}

#container  .company-info .depth1 .depth2{
    display : none;
}

#container  .company-info .depth1 .depth2 > li{ 
    margin-bottom : 8px;
    
}

#container  .company-info .depth1 .depth2>li>a {
    display : inline-block;
    padding : 10px 0 ;
    font-size : 16px;
    color : rgba(0,0,0,0.58)
}

#container .footer{
    padding : 0px 40px 100px;
}

#container .footer .sns a {
    display : inline-block;
    width: 32px;
    height : 32px;
    border-radius: 50%;
    background: black;
    color:white;
    font-size : 18px;
    text-align : center;
    line-height: 30px;
    vertical-align: middle;
    margin-bottom : 20px;
    position : relative;
    margin-top : 10px;
}

#container .footer .sns a::after {
    content: '';
    position : absolute;
    /* width:48px;
    height : 48px; */
    border-radius:  50%;
    background: #ddd;
    top: 50% ; bottom : 50% ; left:50%; right:50%;
    /* 가운데 점에서 시작하는 값 */
    /* top:50%;
    left :50%; */
    /* margin-top: -24px;
    margin-left:-24px; */
    z-index : -1;
    transition : all 0.3s;
}

#container .footer .sns a:hover::after{
    background : #ddd;
    top: -8px ; bottom : -8px ; left:-8px; right:-8px;
    
}

#container .footer .sns a+a {margin-left : 15px;}

#container .footer .sns a:first-child {
    width: 32px;
    height : 32px;
    font-size : 33px;
    text-align : center;
    background:white;
    color:black;
}

#container .footer .bmenu li a {
    font-size : 16px;
    padding : 8px 0;
    display : inline-block;
    margin-bottom : 4px;
}
#container .footer .bmenu li a:hover {
    text-decoration: underline;
}
#container .footer .copyright {
    font-size : 14px;
    padding:16px 0 ;
}